fastapi
uvicorn
python-multipart
torch
torchvision
opencv-python-headless
grad-cam
shap
transformers
librosa
fpdf2
numpy
pandas
scipy
timm
gdown
efficientnet_pytorch
fastapi
uvicorn
python-multipart
torch
torchvision
opencv-python-headless
grad-cam
shap
transformers
librosa
fpdf2
numpy
pandas
scipy
timm
gdown
efficientnet_pytorch
matplotlib
mediapipe
PyWavelets
scikit-image
exifread
moviepy
noisereduce==3.0.3
slowapi
python-magic-bin
scenedetect
